<%= form_for (@reservation) do |form| %>
<%= @room_number %>
<table class="a">

  <% @plans.length.times do |i| %>
  <p>プランNo<%= @plans[i].id %>→<%= @plans[i].name %></p>
  <% end %>
<tr>
  <th><%= form.label :plan_id, "ご利用プランの番号を入力してください" %></th>
  <td><%= form.text_field :plan_id %></td>
</tr>
<tr>
    <th>メンバーID</th>
    <td><%= current_member.id %></td>
  </tr>
   <%= form.hidden_field :member_id, :value => current_member.id %>
  <tr>
    <th>部屋ID</th>
    <td><%= @room_id %></td>
     <%= form.hidden_field :room_id, :value => @room_id %>
  </tr>
  <tr>
    <th><%= form.label :guest_count , "ご利用人数"%></th>
    <td><%= form.text_field :guest_count %></td>
  </tr>
  <tr>
    <th><%= form.label :start_date, "チェックイン日　例2018-01-10"%></th>
    <td><%= form.text_field :start_date %></td>
  </tr>
  <tr>
    <tr>
      <th><%= form.label :end_date, "チェックアウト日　例2018-01-10"%></th>
      <td><%= form.text_field :end_date %></td>
    </tr>
  </tr>

  <tr>
    <th><%= form.label :sum_price, "合計金額" %></th>
    <td><%= form.text_field :sum_price %></td>
  </tr>
  <tr>
    <th><%= form.label :is_extend, "連泊" %></th>
    <td><%= form.text_field :is_extend %></td>
  </tr>

</table>
<p><%= form.submit %></p>

<% end %>
