<h1>予約一覧</h1>
<ul>
	<% @reservations.each do |reservation| %>
	<% if reservation.member_id == current_member.id %>
	<li><%= link_to reservation.id, reservation_path(reservation.id) %> チェックイン <%= reservation.start_date %> ログアウト <%= reservation.end_date %> roomID <%= reservation.room_id %> </li>

	<% end %>
	<% end %>

<p><%= link_to "マイページトップへ",:action=>"index", :controller=>"mypage" %></p>
</ul>
