<h1>お部屋を選ぶ</h1>
<div id='menu'>
<%= menu_link_to "お部屋を選ぶ", rooms_path %> &nbsp; <%= menu_link_to "プランを知る", plans_path %>
</div>
<p><%= link_to "マイページへ",:action=>"index", :controller=>"mypage" %></p>

<%= form_for @search_form, as: 'search', url: :rooms, html: {method: :get} do |f| %>
<%= f.text_field :room_id%>
<%= f.text_field :plan_id%>
<%= f.submit "検索" %>
<% end %>
<br /><br />
<% @searchedrooms.each do |room| %>
<li> <%= link_to room.room_number, room_path(room.id) %> &nbsp;</li>
<% end %>
