<h1>_form.html.erb</h1>
<%= form_for @member, url: members_new_path do |f| %>
<p><%= f.label :user_name, "お名前" %><br>
  <%= f.text_field :user_name %><br>
  <%= f.label :address, "住所" %><br>
  <%= f.text_field :address %><br>
  <%= f.label :tel, "お電話番号" %><br>
  <%= f.text_field :tel %><br>
  <%= f.label :age, "年齢" %><br>
  <%= f.text_field :age %><br>
  <%= f.label :email, "eメールアドレス" %><br>
  <%= f.text_field :email %><br>
  <%= f.label :admin_authority, "管理者" %><br>
  <%= f.check_box :admin_authority %><br>
  <%= f.submit %>
</p>

<% end %>
