<p><%= link_to "マイページトップに戻る",:controller => 'mypage', :action => 'index', :member_id => @member.id %></p>

<h1>会員情報</h1>

<p>[ユーザーID] <%= @member.user_id %></p>
<p> <%= @member.hashed_password %></p>
<p> <%= @member.name %></p>
<p> <%= @member.sex %></p>
<p> <%= @member.address %></p>
<p> <%= @member.tel %></p>
<p> <%= @member.birthday %></p>
<p> <%= @member.email %></p>
<p><%= @member.admin_authority %></p>


<p><%= link_to "会員情報を変更する",:controller => 'members', :action => 'edit', :member_id => @member.id %></p>
<p><%= link_to "退会", member_path, :member_id => @member.id, method: :delete, data: { confirm: "本当に退会しますか？(会員情報は削除されます)" } %></p>
